/* BEGIN dynamic-output */
.container-inner { max-width: 1380px; }

.sidebar .widget { padding-left: 30px; padding-right: 30px; padding-top: 30px; }

img { -webkit-border-radius: 0px; border-radius: 0px; }

.site-title a img { max-height: 120px; }

#page {  }

::selection { background-color: #3b8dbd; }
::-moz-selection { background-color: #3b8dbd; }

a,
.themeform label .required,
#flexslider-featured .flex-direction-nav .flex-next:hover,
#flexslider-featured .flex-direction-nav .flex-prev:hover,
.post-hover:hover .post-title a,
.post-title a:hover,
.s1 .post-nav li a:hover i,
.content .post-nav li a:hover i,
.post-related a:hover,
.s1 .widget_rss ul li a,
#footer .widget_rss ul li a,
.s1 .widget_calendar a,
#footer .widget_calendar a,
.s1 .alx-tab .tab-item-category a,
.s1 .alx-posts .post-item-category a,
.s1 .alx-tab li:hover .tab-item-title a,
.s1 .alx-tab li:hover .tab-item-comment a,
.s1 .alx-posts li:hover .post-item-title a,
#footer .alx-tab .tab-item-category a,
#footer .alx-posts .post-item-category a,
#footer .alx-tab li:hover .tab-item-title a,
#footer .alx-tab li:hover .tab-item-comment a,
#footer .alx-posts li:hover .post-item-title a,
.comment-tabs li.active a,
.comment-awaiting-moderation,
.child-menu a:hover,
.child-menu .current_page_item > a,
.wp-pagenavi a { color: #3b8dbd; }

.themeform input[type="submit"],
.themeform button[type="submit"],
.s1 .sidebar-top,
.s1 .sidebar-toggle,
#flexslider-featured .flex-control-nav li a.flex-active,
.post-tags a:hover,
.s1 .widget_calendar caption,
#footer .widget_calendar caption,
.author-bio .bio-avatar:after,
.commentlist li.bypostauthor > .comment-body:after { background-color: #3b8dbd; }

.post-format .format-container { border-color: #3b8dbd; }

.s1 .alx-tabs-nav li.active a,
#footer .alx-tabs-nav li.active a,
.comment-tabs li.active a,
.wp-pagenavi a:hover,
.wp-pagenavi a:active,
.wp-pagenavi span.current { border-bottom-color: #3b8dbd!important; }

.s2 .post-nav li a:hover i,
.s2 .widget_rss ul li a,
.s2 .widget_calendar a,
.s2 .alx-tab .tab-item-category a,
.s2 .alx-posts .post-item-category a,
.s2 .alx-tab li:hover .tab-item-title a,
.s2 .alx-tab li:hover .tab-item-comment a,
.s2 .alx-posts li:hover .post-item-title a { color: #82b965; }

.s2 .sidebar-top,
.s2 .sidebar-toggle,
.post-comments,
.jp-play-bar,
.jp-volume-bar-value,
.s2 .widget_calendar caption { background-color: #82b965; }

.s2 .alx-tabs-nav li.active a { border-bottom-color: #82b965; }
.post-comments span:before { border-right-color: #82b965; }

.search-expand,
#nav-topbar.nav-container { background-color: #26272b; }
@media only screen and (min-width: 720px) {
	#nav-topbar .nav ul { background-color: #26272b; }
}

#header { background-color: #33363b; }
@media only screen and (min-width: 720px) {
	#nav-header .nav ul { background-color: #33363b; }
}

#footer-bottom { background-color: #33363b; }

/* END dynamic-output */
/* BEGIN custom-output */
/* Add your custom CSS below */

/* END custom-output */
